* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 20px 15px;
  background-color: #ffffff;
  font-family: "Nanum Gothic";
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

span {
  vertical-align: middle;
}

hr {
  color: #eceff4;
  opacity: 0.2;
}

/**
* status-bar
*/
.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.6;
  margin-bottom: 1.8rem;
}
.status-bar > * {
  font-size: 1rem;
}

.status-bar__clock {
  font-weight: bold;
}
.status-bar__network {
  vertical-align: middle;
  display: relative;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}
.status-bar__lte {
  display: absolute;
  width: 100%;
  height: 100%;
}

/**
* header
*/
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header__icon {
  margin-left: 1rem;
}

/**
* nav
*/
.nav {
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #f5f5f5; */
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.nav__item > * {
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
}

.bubble__container {
  position: relative;
}
.bubble__child {
  position: absolute;
  right: -6px;
  top: -6px;
  font-size: 0.5rem;
  min-height: 0.6rem;
  min-width: 0.6rem;
  font-weight: bold;
  font-family: "Nanum Gothic";
  text-shadow: 0.2px 0 #ffffff;
  color: #ffffff;
  background-color: #e45f3e;
  border: 0.2px solid #d46a4e;
  border-radius: 50%;
  padding: 0.17rem;
  text-align: center;
  vertical-align: middle;
}
