* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Nanum Gothic";
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

span {
  vertical-align: middle;
}

hr {
  color: #eceff4;
  opacity: 0.2;
}

/**
* position
*/

.position__top {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.position__top .position__content {
  margin: 0.6rem;
}

.position__middle {
  position: fixed;
  top: 4.5rem;
  bottom: 4rem;
  left: 0;
  width: 100%;
  overflow-y: scroll;
}

.position__middle .position__content {
  margin: 0.3rem 1rem 0 1rem;
}

.position__bottom {
  position: fixed;
  background-color: #f9f9f9;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #f5f5f5;
  z-index: 1;
}

/**
* status-bar
*/
.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.6;
  margin: 0 0.1rem 1rem 0.1rem;
}
.status-bar * {
  font-size: 1rem;
}

.status-bar__clock {
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
}

.status-bar__icon {
  display: relative;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}
.status-bar__icon.status-bar__icon_lte {
  display: absolute;
  width: 100%;
  height: 100%;
}

/**
* header
*/
.header {
  display: flex;
  justify-content: space-between;
}

.header__icon {
  margin-left: 1rem;
}

/**
* nav
*/

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.nav__item {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble__parent {
  position: relative;
}
.bubble__child {
  position: absolute;
  right: -6px;
  top: -6px;
  font-size: 0.5rem;
  min-height: 0.6rem;
  min-width: 0.6rem;
  font-weight: bold;
  text-shadow: 0.2px 0 #ffffff;
  color: #ffffff;
  background-color: #e45f3e;
  border: 0.2px solid #d46a4e;
  border-radius: 50%;
  padding: 0.17rem;
  text-align: center;
  vertical-align: middle;
}

/**
* text
*/

.text {
  vertical-align: middle;
  font-size: 1rem;
}

.text.text_bold {
  font-weight: bold;
}

.text.text_bolder {
  font-weight: bolder;
}

.text.text_grey {
  opacity: 0.7;
}

.text.text_050 {
  font-size: 0.5rem;
}

.text.text_070 {
  font-size: 0.7rem;
}

.text.text_080 {
  font-size: 0.8rem;
}

.text.text_120 {
  font-size: 1.2rem;
}

.text.text_175 {
  font-size: 1.75rem;
}

.text.text_200 {
  font-size: 2rem;
}
