.friend-fragment .profile a,
.friend-fragment .birth a,
.friend-fragment .favorite__friend a,
.friend-fragment .channel__item a,
.friend-fragment .friends__friend a {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.friend-fragment .profile a:hover,
.friend-fragment .birth a:hover,
.friend-fragment .favorite__friend a:hover,
.friend-fragment .channel__item a:hover,
.friend-fragment .friends__friend a:hover {
  background-color: #d8dee9;
}

/**
* friend-fragment title
*/

.friend-fragment .title {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.friend-fragment .title * {
  font-size: 0.7rem;
  font-weight: bolder;
  opacity: 0.7;
}

/**
* contents
*/

.friend-fragment .content {
  display: flex;
  align-items: center;
}

.friend-fragment .content__main,
.friend-fragment .content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.friend-fragment .content__right {
  align-items: flex-end;
  min-width: 6rem;
  height: 3.5rem;
}

.friend-fragment .content__main.content__main_top {
  margin-bottom: 0.3rem;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.friend-fragment .content__main.content__main_bottom {
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/**
* container
* avatar 대신 있는 container
*/

.friend-fragment .content__container {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  margin-right: 0.6rem;
}

.friend-fragment .container__birth,
.friend-fragment .container__channel,
.friend-fragment .container__bvlgari {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 35%;
  border: 0.01px solid #ffffff;
}

.friend-fragment .container__channel.container__channel_comment {
  background-color: transparent;
  position: absolute;
  color: #fae001;
}

.friend-fragment .container__birth {
  background-color: #cd7fe0;
}

.friend-fragment .container__channel {
  font-weight: bold;
  background-color: #fae001;
}

.friend-fragment .container__bvlgari {
  font-weight: bold;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #212529;
}

/**
* avatars
*/

.friend-fragment .avatars {
  display: grid;
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  margin-right: 0.6rem;
}

.friend-fragment .avatars {
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(4, 4fr);
}

.friend-fragment .avatars__avatar-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40%;
  border: 0.01px solid #ffffff;
}

/**
* avatars single
*/

.friend-fragment .content__avatars_single .avatars__avatar:first-child {
  position: relative;
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}

/**
* chat
*/

.friend-fragment .chat__members {
  font-weight: bold;
  font-size: 0.8rem;
}

.friend-fragment .chat__status,
.friend-fragment .chat__count {
  font-size: 0.7rem;
  opacity: 0.7;
}

.friend-fragment .chat__container {
  font-size: 0.7rem;
}

.friend-fragment .chat__icon.chat__icon_ad {
  font-size: 0.5rem;
  opacity: 0.7;
  padding: 0.05rem 0.2rem;
  border-radius: 35%;
  border: 1px solid #d6d8dc;
}

.friend-fragment .content__right.content__right_top .chat__container {
  display: flex;
  justify-content: flex-end;
  border: 1px solid #0eeb85;
  padding: 0.5rem;
  border-radius: 30px;
}
.content__right .chat__text {
  max-width: 8rem;
  min-width: 3rem;
  margin-right: 0.7rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

/**
* 노트
윈도우 사이즈가 작아지면서 텍스트를 ellipsis 처리하고 싶었으나 해당 처리를 위해서는 width를 고정체크할 필요가 있었고 html css상으로는
width 부분이 스테틱하기 때문에 어려운 부분이 있음

자바스크립트로 하는게 좋을 듯함.
*/
