.index-fragment .chats__item a {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.index-fragment .chats__item a:hover {
  background-color: #d8dee9;
}

/**
* contents
*/

.index-fragment .content {
  display: flex;
  align-items: center;
}

.index-fragment .content__main,
.index-fragment .content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.index-fragment .content__right {
  align-items: flex-end;
  min-width: 6rem;
  height: 3.5rem;
}

.index-fragment .content__main.content__main_top {
  margin-bottom: 0.3rem;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.index-fragment .content__main.content__main_bottom {
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/**
* avatars
*/

.index-fragment .avatars {
  display: grid;
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  margin-right: 0.6rem;
}

.index-fragment .content__avatars_triangle.avatars {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 0.5fr 0.5fr repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr) 0.5fr 0.5fr repeat(2, 2fr);
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  margin-right: 0.6rem;
}

.index-fragment .avatars {
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(4, 4fr);
}

.index-fragment .avatars__avatar-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40%;
  border: 0.01px solid #ffffff;
}

.index-fragment .content__avatars_triangle .avatars__avatar-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40%;
  border: 2.5px solid #ffffff;
}

/**
* avatar rectangle
*/

.index-fragment .content__avatars_rectangle .avatars__avatar:first-child {
  position: relative;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.index-fragment .content__avatars_rectangle .avatars__avatar:nth-child(2) {
  position: relative;
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.index-fragment .content__avatars_rectangle .avatars__avatar:nth-child(3) {
  position: relative;
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.index-fragment .content__avatars_rectangle .avatars__avatar:nth-child(4) {
  position: relative;
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

/**
* avatars triangle
*/

.index-fragment .content__avatars_triangle .avatars__avatar:first-child {
  position: relative;
  grid-column: 2 / span 4;
  grid-row: 1 / span 4;
  z-index: 2;
}

.index-fragment .content__avatars_triangle .avatars__avatar:nth-child(2) {
  position: relative;
  grid-column: 1 / span 4;
  grid-row: 3 / span 4;
}

.index-fragment .content__avatars_triangle .avatars__avatar:nth-child(3) {
  position: relative;
  grid-column: 3 / span 4;
  grid-row: 3 / span 4;
  z-index: 1;
}

/**
* avatars single
*/

.index-fragment .content__avatars_single .avatars__avatar:first-child {
  position: relative;
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}

/**
* chat
*/

.index-fragment .chat__room-icon {
  background-color: #2e3136;
  border: 1px solid #2e3136;
}

.index-fragment .chat__alert-new-messages {
  background-color: #e45f3e;
  border: 1px solid #d46a4e;
}

.index-fragment .chat__room-icon,
.index-fragment .chat__alert-new-messages {
  border-radius: 50%;
  padding: 0.05rem 0.15rem;
  font-size: 0.5rem;
  font-weight: bold;
  text-shadow: 0.2px 0 #ffffff;
  color: #ffffff;
  font-weight: bolder;
  font-family: "Nanum Gothic";
}

.index-fragment .chat__members {
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.7;
}
.index-fragment .chat__timestamp {
  font-size: 0.6rem;
}

.index-fragment .chat__last-message {
  font-size: 0.8rem;
  opacity: 0.7;
}

.index-fragment .chat__member-count,
.index-fragment .chat__icon.chat__icon_mute {
  font-size: 0.8rem;
  opacity: 0.6;
}
