.more-fragment .main {
  overflow-x: hidden;
}

.more-fragment .profile a {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

/**
* contents
*/

.more-fragment .content {
  display: flex;
  align-items: center;
}

.more-fragment .content__main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.more-fragment .content__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 6rem;
  height: 3.5rem;
}

.more-fragment .chat__my,
.more-fragment .chat__emoticon {
  border: 1px solid #f0f0f0;
  padding: 0.4rem 0.7rem;
  border-radius: 15px;
}

.more-fragment .chat__emoticon {
  position: relative;
  color: #22a661;
}

.more-fragment .chat__new {
  position: absolute;
  top: -0.3rem;
  left: 1.7rem;
  background-color: #d46a4e;
  font-size: 0.7rem;
  padding: 0.2rem;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
}

.more-fragment .content__main.content__main_bottom {
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/**
* avatars
*/

.more-fragment .avatars {
  display: grid;
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  margin-right: 0.6rem;
}

.more-fragment .avatars {
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(4, 4fr);
}

.more-fragment .avatars__avatar-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40%;
  border: 0.01px solid #ffffff;
}

.more-fragment .content__avatars_single .avatars__avatar:first-child {
  position: relative;
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}

/**
* chat
*/

.more-fragment .chat__members {
  font-weight: bold;
  font-size: 0.8rem;
}

.more-fragment .chat__status,
.more-fragment .chat__count {
  font-size: 0.7rem;
  opacity: 0.7;
}

.more-fragment .chat__container {
  font-size: 0.7rem;
}

/* pay */
.more-fragment .pay {
  background-color: #f0f0f0;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.more-fragment .pay__current {
  background-color: #ffffff;
  padding: 0.3rem 1rem;
  border-radius: 15px;
  font-weight: bold;
}

.more-fragment .pay__current span:first-child {
  padding-top: 0.3rem;
}

.more-fragment .pay__current span:last-child {
  font-weight: normal;
}

.more-fragment .pay__menu span {
  margin: 0;
  padding: 0.3rem 0.5rem;
}

.more-fragment .pay__menu span:not(:last-child) {
  border-right: 1px solid #e0e0e0;
}

.more-fragment .service {
  width: 100%;
}

.more-fragment .service .service__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.more-fragment .service .service__item {
  width: 25%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.more-fragment .service .service__icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-fragment .service .service__icon.friends-shop {
  color: #f3ad53;
}
.more-fragment .service .service__icon.game,
.more-fragment .service .service__icon.page {
  color: #ffd300;
}
.more-fragment .service .service__icon.melon,
.more-fragment .service .service__icon.melon-ticket {
  color: #67e065;
}

.more-fragment .service .service__name {
  font-size: 1rem;
  padding: 0.5rem 0;
  background-color: white;
}

.more-fragment .make {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
  font-weight: bold;
}

.more-fragment .make__mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-fragment .mail__item {
  margin-right: 0.5rem;
}

.more-fragment .make__mail span:last-child,
.more-fragment .make__plan span:last-child {
  font-weight: normal;
}

.more-fragment .make__content {
  position: relative;
}

.more-fragment .make__new {
  position: absolute;
  background-color: red;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  top: 0;
  left: 1.8rem;
}

.more-fragment .ad .ad__list {
  position: relative;
  background-color: yellow;
  width: 300%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  animation: moveAd 9s linear infinite alternate;
}

.more-fragment .ad .ad__item {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  padding: 0 1rem 2rem 1rem;
}

.more-fragment .ad .ad__item:nth-child(1) {
  top: 0;
  left: 0;
}

.more-fragment .ad .ad__item:nth-child(2) {
  top: 0;
  left: 33.33%;
}

.more-fragment .ad .ad__item:nth-child(3) {
  top: 0;
  left: 66.66%;
}

.more-fragment .ad__item img {
  width: 19rem;
  height: 13rem;
  border-radius: 15px;
}

@keyframes moveAd {
  0%,
  20% {
    transform: translateX(0);
  }
  40%,
  60% {
    transform: translateX(-33.33%);
  }
  80%,
  100% {
    transform: translateX(-66.66%);
  }
}
