@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("../css/reset.css");
@import url("../css/normalize.css");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 20px 15px;
  background-color: #ffffff;
  font-family: "Nanum Gothic";
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

span {
  vertical-align: middle;
}

/**
* status-bar
*/
.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
  margin-bottom: 1.8rem;
}
.status-bar > * {
  font-size: 0.4rem;
}

.status-bar__clock {
  font-size: 0.5rem;
  font-weight: bold;
}
.status-bar__network {
  vertical-align: middle;
  display: relative;
  width: 0.7rem;
  height: 0.7rem;
  display: inline-block;
}
.status-bar__lte {
  display: absolute;
  width: 100%;
  height: 100%;
}

/**
* header
*/
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header__icon {
  margin-left: 1rem;
}

/**
* nav
*/
.nav {
  position: fixed;
  background-color: #f9f9f9;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #f5f5f5;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.nav__item > * {
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
}

.bubble__container {
  position: relative;
}
.bubble__container-item {
  position: absolute;
  right: -4px;
  top: -4px;
  font-size: 0.4rem;
  min-height: 0.6rem;
  min-width: 0.6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 0.2px 0 #ffffff;
  color: #ffffff;
  background-color: #e45f3e;
  border: 0.2px solid #d46a4e;
  border-radius: 50%;
  padding: 0.17rem;
  text-align: center;
  vertical-align: middle;
}

/**
* chats - list
*/
.chats__list {
  margin-bottom: 1rem;
}

.chats__item {
  display: flex;
  justify-content: space-between;
}

.chats__contents-container {
  display: flex;
}

/**
* avatars
*/
.avatars {
  max-width: 3.5rem;
  max-height: 3.5rem;
  margin-right: 0.6rem;
  display: flex;
  align-items: center;
}

.avatars > .avatars__list {
  text-align: center;
  vertical-align: middle;
}

.avatars__item {
  min-width: 3.5rem;
  min-height: 3.5rem;
}

.avatars__item > img {
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  vertical-align: middle;
  border-radius: 30%;
  border: 0.01px solid #ffffff;
}

/**
* chat contents
*/

.contents__top {
  display: block;
  min-width: 2rem;
}

.chat > .chat__icon,
.chat > .chat__members {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.chat__icon {
  background-color: #2e3136;
  border: 1px solid #2e3136;
}

.chat__alert-new-messages {
  background-color: #e45f3e;
  border: 1px solid #d46a4e;
}

.chat__icon,
.chat__alert-new-messages {
  border-radius: 50%;
  padding: 0.08rem;
  font-size: 0.35rem;
  color: #ffffff;
  font-weight: bolder;
  text-shadow: 0.1px 0 #ffffff;
  font-family: monospace;
}

.chat__members,
.chats__timestamp {
  font-size: 0.5rem;
}

.chat__last-message {
  font-size: 0.5rem;
  opacity: 0.7;
}

.chats__contents-right {
  text-align: right;
}
