@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import "setting.css";
@import "reset.css";
@import "normalize.css";
@import "common.css";
@import "friends.css";
@import "chat.css";
@import "index.css";

/**
1. 리소스 직접 다운받아서 실행하기
2. bubble 빨간거 까만거 정리해서 재활용하기
*/
